{% extends 'layout.html' %}
{% block content %}
  <center><h1>Decrypt The Text</h1></center>
<div class="content-section">

        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.normalText.label(class="form-control-label") }}
                    {% if form.normalText.errors %}
                        {{ form.normalText(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.normalText.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.normalText(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.key.label(class="form-control-label") }}
                    {% if form.key.errors %}
                        {{ form.key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.key(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <small class="text-muted ml-2">
                <a href={{ url_for('encrypt') }}>Wanna encrypt?</a>
            </small>
        </form>
    </div>

{% endblock content %}