{% extends "layout.html" %}
{% block content %}
<div class="jumbotron bg-transparent mb-0 radius-0">
  <div class="container">
      <div class="row">
        <div class="col-xl-6">
          <h1 class="display-2"><span class="vim-caret">H</span>idden Message</h1>
          <div class="lead mb-3 text-mono text-success">Your messages for seeking eyes..</div>
          <div class="text-mono">
            <a href="#!"
               title="Download Theme"
               class="btn btn-success btn-shadow px-3 my-2 ml-0 text-left">
               Encrypt
            </a>
            <a href="#!"
               class="btn btn-danger btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
               Decrypt
            </a>
          </div>

          <div class="text-darkgrey text-mono my-2">Secrets matters.</div>

          <p class="mt-5 text-grey text-spacey">
          You can Encrypt any kind of message using this app. Just keep the key though.
          </p>
        </div>
      </div>
  </div>
</div>

{% endblock content %}